QPushButton {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    
    font: bold 28px;
    color: black;
    padding: 6px;
    min-width: 100px;
    min-height: 40px;
    text-align: center;
}

QPushButton:hover {
    background-color: #FFC04D;
    border-color: #FFC04D;
}

QPushButton:pressed {
    background-color: #FF8C00;
    border-style: solid;
}

QPushButton:checked {
    background-color: #FF8C00;
    border-style: solid;
}
